In [9]:
from pandas import Series, DataFrame, pivot_table
import numpy as np
import numpy

In [10]:
d = { 'Class'   : Series( ['a',  'b', 'b','a','a',  'b', 'b','a','a',  'b', 'b','a','a','b','b','b']),
      'Area'   : Series( ['North','East', 'South', 'West','North','East', 'South', 'West','North','East', 'South', 'West','South', 'West','South', 'West']),
      'Type' : Series( ['square', 'round','square', 'round', 'round', 'square', 'round', 'square', 'round', 'square','round', 'square',]),
      'Web'  : Series( ['Y','N','N','Y','Y','N','N','Y','Y','N','N','Y','Y','N','N','Y']),
      'Agent'   : Series( ['Mike',  'John', 'Pete','Mike',  'John', 'Pete','Mike',  'John', 'Pete','Mike',  'John', 'Pete','John', 'Pete','John', 'Pete']),
      'Income'   : Series( [20., 40., 90., 20.]),
      'Profit' : Series( [1., 2., 3., 4.,1., 2., 3., 4.,1., 2., 3., 4.,1., 2., 3., 4.]),
      'Stock' : Series( [20., 23., 33., 43.,12., 21., 310., 41.,11., 21., 31., 41.,11., 22., 34., 54.] )
     }
df = DataFrame(d)
print df

   Agent   Area Class  Income  Profit  Stock    Type Web
0   Mike  North     a    20.0     1.0   20.0  square   Y
1   John   East     b    40.0     2.0   23.0   round   N
2   Pete  South     b    90.0     3.0   33.0  square   N
3   Mike   West     a    20.0     4.0   43.0   round   Y
4   John  North     a     NaN     1.0   12.0   round   Y
5   Pete   East     b     NaN     2.0   21.0  square   N
6   Mike  South     b     NaN     3.0  310.0   round   N
7   John   West     a     NaN     4.0   41.0  square   Y
8   Pete  North     a     NaN     1.0   11.0   round   Y
9   Mike   East     b     NaN     2.0   21.0  square   N
10  John  South     b     NaN     3.0   31.0   round   N
11  Pete   West     a     NaN     4.0   41.0  square   Y
12  John  South     a     NaN     1.0   11.0     NaN   Y
13  Pete   West     b     NaN     2.0   22.0     NaN   N
14  John  South     b     NaN     3.0   34.0     NaN   N
15  Pete   West     b     NaN     4.0   54.0     NaN   Y

In [16]:
%pylab inline
def interact( rows, values, aggfunc, plt=False):
    dfp = df
    piv = pivot_table( dfp, rows=rows, values=values, aggfunc=aggfunc)
    print piv
    if plt: plot( piv )

Populating the interactive namespace from numpy and matplotlib

In [17]:
i = interact( my_pivot,
             rows    = SelectMultiple(options=list(df.columns)), 
             values  = SelectMultiple(options=['Profit', 'Stock']),
             aggfunc = SelectMultiple(options={ 'sum' : numpy.sum, 'ave' : numpy.average }))

NameError: name 'SelectMultiple' is not defined